<div *ngIf="viewMode; else editable" >
  <div *ngIf="currentTutorial.id">
    <h4>Opération de Comptabilité Quotidiénne</h4>
    <div>
      <label><strong>Date Opération:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Déscription:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <table style="width:100%">
        <tr>
          <th><strong>Recette Ajourd'hui:</strong></th>
          <td>{{ currentTutorial.recipeToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Solde Mois Antèrieur:</strong></th>
          <td>{{ currentTutorial.balancePreviousMonth |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Total Recette:</strong></th>
          <td>{{ currentTutorial.totalRecipeToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
      </table>
    </div>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>total Dépenses:</label></th>
        <td>{{ currentTutorial.totalExpenses |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>solde de journée:</label></th>
        <td> {{ currentTutorial.dalyAccountBalance |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    <br>
    <div>
      <table style="width:100%">
        <tr>
          <th><label><strong>Opéreation Trésorerie Antérieur:</strong></label></th>
          <td>{{ currentTutorial.operationTreasuryAnterior |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><label><strong>Opéreation Trésorerie Aujourd'hui:</strong></label></th>
          <td>{{ currentTutorial.operationTreasuryToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Total Opéreations de Trésorerie:</strong></th>
          <td>{{ currentTutorial.totalOperationTreasury |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
      </table>
    </div>
    <br>
    <table style="width:100%">
      <tr>
        <th><label><strong>Opéreation Réglement Antérieur:</strong></label></th>
        <td>{{ currentTutorial.operationPreviousRegulation |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th><label><strong>Opéreation Réglement Aujourd'hui:</strong></label></th>
        <td>{{ currentTutorial.operationRegulationToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th><label><strong>total Opéreations de Réglement:</strong></label></th>
        <td>{{ currentTutorial.totalOperationRegulation |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>total Dépenses:</label></th>
        <td>{{ currentTutorial.totalExpenses |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th>Argent Espéces:</th>
        <td>{{ currentTutorial.moneySpecies |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Piéces de Monnaie en Caisse:</th>
        <td>{{ currentTutorial.moneyInCoinsInCash |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Total Numéraire</th>
        <td>{{ currentTutorial.totalCash |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th>Compte Courant Postal:</th>
        <td>{{ currentTutorial.postCurrentAccount |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Crédit Attendu:</th>
        <td>{{ currentTutorial.creditExpected |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Débit Attendu:</th>
        <td>{{ currentTutorial.rateExpected |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Solde Final pour le CCP:</th>
        <td>{{ currentTutorial.finalPostalAccount |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Autres Valeurs:</th>
        <td>{{ currentTutorial.otherValues |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>États Répartitions:</th>
        <td>{{ currentTutorial.statesRepartition |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>solde de journée:</label></th>
        <td> {{ currentTutorial.dalyAccountBalance |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    </div>

    <div>

      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Éditer
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>SVP Sélectionnez une Opération...</p>
  </div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Opération de Caisse</h4>
    <form>
      <div class="form-group">
        <label for="title">Date Opération</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Déscription</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="recipeToday">Recette Aujourd'hui</label>
        <input
          type="text"
          class="form-control"
          id="recipeToday"
          [(ngModel)]="currentTutorial.recipeToday"
          name="recipeToday"
        />
      </div>

      <div class="form-group">
        <label for="recipeToday">Solde du Mois Précedent</label>
        <input
          type="text"
          class="form-control"
          id="balancePreviousMonth"
          [(ngModel)]="currentTutorial.balancePreviousMonth"
          name="balancePreviousMonth"
        />
      </div>

      <div class="form-group">
        <label for="operationTreasuryAnterior">Opérations du Trésor Antérieurs </label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryAnterior"
          [(ngModel)]="currentTutorial.operationTreasuryAnterior"
          name="operationTreasuryAnterior"
        />
      </div>

      <div class="form-group">
        <label for="operationTreasuryToday">Opérations Trésor d'Aujourd'hui</label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryToday"
          [(ngModel)]="currentTutorial.operationTreasuryToday"
          name="operationTreasuryToday"
        />
      </div>

      <div class="form-group">
        <label for="operationPreviousRegulation">operationPreviousRegulation</label>
        <input
          type="text"
          class="form-control"
          id="operationPreviousRegulation"
          [(ngModel)]="currentTutorial.operationPreviousRegulation"
          name="operationPreviousRegulation"
        />
      </div>

      <div class="form-group">
        <label for="operationRegulationToday">operationRegulationToday</label>
        <input
          type="text"
          class="form-control"
          id="operationRegulationToday"
          [(ngModel)]="currentTutorial.operationRegulationToday"
          name="operationRegulationToday"
        />
      </div>

      <div class="form-group">
        <label for="postCurrentAccount">postCurrentAccount</label>
        <input
          type="text"
          class="form-control"
          id="postCurrentAccount"
          [(ngModel)]="currentTutorial.postCurrentAccount"
          name="postCurrentAccount"
        />
      </div>

      <div class="form-group">
        <label for="creditExpected">creditExpected</label>
        <input
          type="text"
          class="form-control"
          id="creditExpected"
          [(ngModel)]="currentTutorial.creditExpected"
          name="creditExpected"
        />
      </div>

      <div class="form-group">
        <label for="rateExpected">rateExpected</label>
        <input
          type="text"
          class="form-control"
          id="rateExpected"
          [(ngModel)]="currentTutorial.rateExpected"
          name="rateExpected"
        />
      </div>

      <div class="form-group">
        <label for="otherValues">otherValues</label>
        <input
          type="text"
          class="form-control"
          id="otherValues"
          [(ngModel)]="currentTutorial.otherValues"
          name="otherValues"
        />
      </div>
      statesRepartition
      <div class="form-group">
        <label for="statesRepartition">statesRepartition</label>
        <input
          type="text"
          class="form-control"
          id="statesRepartition"
          [(ngModel)]="currentTutorial.statesRepartition"
          name="statesRepartition"
        />
      </div>

      <div class="form-group">
        <label for="moneySpecies">moneySpecies</label>
        <input
          type="text"
          class="form-control"
          id="moneySpecies"
          [(ngModel)]="currentTutorial.moneySpecies"
          name="moneySpecies"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>

  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
