<div *ngIf="viewMode; else editable" >
  <div *ngIf="currentTutorial.id">
    <h4>Opération de Comptabilité Quotidiénne</h4>
    <div>
      <label><strong>Date Opération:</strong></label> {{ currentTutorial.title }}
    </div>

    <div>
      <table style="width:100%">
        <tr>
          <th><strong>Recette Ajourd'hui:</strong></th>
          <td>{{ currentTutorial.recipeToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Solde Mois Antèrieur:</strong></th>
          <td>{{ currentTutorial.balancePreviousMonth |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Total Recette:</strong></th>
          <td><form (ngSubmit)="getRecipeTotal()">
            <label for="date">Sélectionnez une date :</label>
            <input type="text" name="date" [(ngModel)]="date" required>
            <button type="submit">Obtenir la recette totale</button>
          </form>
            <p>Résultat de la recette totale : {{ totalRecipeToday  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

        </tr>
      </table>
    </div>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>total Dépenses:</label></th>
        <td>{{ totalExpenses |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>solde de journée:</label></th>
        <td> {{ dalyAccountBalance |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>

    </table>
    <br>
    <div>
      <table style="width:100%">
        <tr>
          <th><label><strong>Opéreation Trésorerie Antérieur:</strong></label></th>
          <td>{{ currentTutorial.operationTreasuryAnterior |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><label><strong>Opéreation Trésorerie Aujourd'hui:</strong></label></th>
          <td>{{ currentTutorial.operationTreasuryToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

        </tr>
        <tr>
          <th><strong>Total Opéreations de Trésorerie:</strong></th>
          <td><form (ngSubmit)="getOperationsTreasuryTotal()">
            <label for="date">Sélectionnez une date :</label>
            <input type="text" name="date" [(ngModel)]="date" required>
            <button type="submit">Obtenir le totale des Opérations de Trésors</button>
          </form>
            <p>Résultat de totale des Opérations de Trésor : {{ totalOperationTreasury  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

        </tr>
      </table>
    </div>
    <br>
    <table style="width:100%">
      <tr>
        <th><label><strong>Opéreation Réglement Antérieur:</strong></label></th>
        <td>{{ currentTutorial.operationPreviousRegulation |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th><label><strong>Opéreation Réglement Aujourd'hui:</strong></label></th>
        <td>{{ currentTutorial.operationRegulationToday |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th><label><strong>total Opéreations de Réglement:</strong></label></th>
        <td><form (ngSubmit)="getOperationsRegulationTotal()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir le totale des Opérations de Règlements</button>
        </form>
          <p>Résultat de totale des Opérations de Réglement : {{ totalOperationRegulation  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>total Dépenses:</label></th>
        <td><form (ngSubmit)="getTotalExpenses()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir le totale des Dépenses</button>
        </form>
          <p>Résultat de totale des Dépenses : {{ totalExpenses  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>

    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th>Argent Espéces:</th>
        <td>{{ currentTutorial.moneySpecies |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Piéces de Monnaie en Caisse:</th>
        <td><form (ngSubmit)="getMoneyInCoinsInCash()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir les Pices de Monnaie en Caisse </button>
        </form>
          <p>Résultat des Pices de Monnaie en Caisse : {{ moneyInCoinsInCash  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>
      <tr>
        <th>Total Numéraire</th>
        <td><form (ngSubmit)="getTotalCash()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir le Total Numéraire </button>
        </form>
          <p>Résultat du Tota Numéraire : {{ totalCash  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th>Compte Courant Postal:</th>
        <td>{{ currentTutorial.postCurrentAccount |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Crédit Attendu:</th>
        <td>{{ currentTutorial.creditExpected |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Débit Attendu:</th>
        <td>{{ currentTutorial.rateExpected |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>Solde Final pour le CCP:</th>
        <td><form (ngSubmit)="getFinalPostalAccount()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir le Compte Courant Postal Final </button>
        </form>
          <p>Résultat du Solde du Compte : {{ finalPostalAccount  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>
      <tr>
        <th>Autres Valeurs:</th>
        <td>{{ currentTutorial.otherValues |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
      <tr>
        <th>États Répartitions:</th>
        <td>{{ currentTutorial.statesRepartition |  currency:"دت ":"symbol":'6.3-3'}}</td>

      </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th><label>solde de journée:</label></th>
        <td> <form (ngSubmit)="getDalyAccountBalance()">
          <label for="date">Sélectionnez une date :</label>
          <input type="text" name="date" [(ngModel)]="date" required>
          <button type="submit">Obtenir le Solde du Compte </button>
        </form>
          <p>Résultat du Solde du Compte : {{ dalyAccountBalance  |  currency:"دت ":"symbol":'6.3-3'  }}</p></td>

      </tr>

    </table>
    </div>

   <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Éditer
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>SVP Sélectionnez une Opération...</p>
  </div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Opération de Caisse</h4>
    <form>
      <div class="form-group">
        <label for="title">Date Opération</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>


      <div class="form-group">
        <label for="recipeToday">Recette Aujourd'hui</label>
        <input
          type="text"
          class="form-control"
          id="recipeToday"
          [(ngModel)]="currentTutorial.recipeToday"
          maxlength="11"
          minlength="5"
          name="recipeToday"
        />
      </div>

      <div class="form-group">
        <label for="recipeToday">Solde du Mois Précedent</label>
        <input
          type="text"
          class="form-control"
          id="balancePreviousMonth"
          [(ngModel)]="currentTutorial.balancePreviousMonth"
          name="balancePreviousMonth"
        />
      </div>

      <div class="form-group">
        <label for="operationTreasuryAnterior">Opérations du Trésor Antérieurs </label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryAnterior"
          [(ngModel)]="currentTutorial.operationTreasuryAnterior"
          name="operationTreasuryAnterior"
        />
      </div>

      <div class="form-group">
        <label for="operationTreasuryToday">Opérations Trésor d'Aujourd'hui</label>
        <input
          type="text"
          class="form-control"
          id="operationTreasuryToday"
          [(ngModel)]="currentTutorial.operationTreasuryToday"
          name="operationTreasuryToday"
        />
      </div>

      <div class="form-group">
        <label for="operationPreviousRegulation">operationPreviousRegulation</label>
        <input
          type="text"
          class="form-control"
          id="operationPreviousRegulation"
          [(ngModel)]="currentTutorial.operationPreviousRegulation"
          name="operationPreviousRegulation"
        />
      </div>

      <div class="form-group">
        <label for="operationRegulationToday">operationRegulationToday</label>
        <input
          type="text"
          class="form-control"
          id="operationRegulationToday"
          [(ngModel)]="currentTutorial.operationRegulationToday"
          name="operationRegulationToday"
        />
      </div>

      <div class="form-group">
        <label for="postCurrentAccount">postCurrentAccount</label>
        <input
          type="text"
          class="form-control"
          id="postCurrentAccount"
          [(ngModel)]="currentTutorial.postCurrentAccount"
          name="postCurrentAccount"
        />
      </div>

      <div class="form-group">
        <label for="creditExpected">creditExpected</label>
        <input
          type="text"
          class="form-control"
          id="creditExpected"
          [(ngModel)]="currentTutorial.creditExpected"
          name="creditExpected"
        />
      </div>

      <div class="form-group">
        <label for="rateExpected">rateExpected</label>
        <input
          type="text"
          class="form-control"
          id="rateExpected"
          [(ngModel)]="currentTutorial.rateExpected"
          name="rateExpected"
        />
      </div>

      <div class="form-group">
        <label for="otherValues">otherValues</label>
        <input
          type="text"
          class="form-control"
          id="otherValues"
          [(ngModel)]="currentTutorial.otherValues"
          name="otherValues"
        />
      </div>

      <div class="form-group">
        <label for="statesRepartition">statesRepartition</label>
        <input
          type="text"
          class="form-control"
          id="statesRepartition"
          [(ngModel)]="currentTutorial.statesRepartition"
          name="statesRepartition"
        />
      </div>

      <div class="form-group">
        <label for="moneySpecies">moneySpecies</label>
        <input
          type="text"
          class="form-control"
          id="moneySpecies"
          [(ngModel)]="currentTutorial.moneySpecies"
          name="moneySpecies"
        />
      </div>


    </form>



    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>

  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
